{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <!-- 批量上传面板 -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                批量上传
            </div>
            <div class="panel-body">
                <form action="/depart/excel/" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input type="file" name="excel">
                    <input type="submit" value="提交" class="btn btn-info" style="margin-top: 10px">
                </form>
            </div>
        </div>

        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/depart/add/">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增部门
            </a>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                部门列表
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>部门名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in queryset %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <td>{{ item.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/depart/{{ item.id }}/edit">编辑</a>
                            <a class="btn btn-danger btn-sm" href="/depart/delete/?nid={{ item.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
