{% extends 'layout.html' %}
{% block content %}
    <!--添加部门的代码-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新增用户</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" placeholder="姓名" name="name" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>密码</label>
                        <input type="text" placeholder="密码" name="pwd" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>年龄</label>
                        <input type="text" placeholder="年龄" name="age" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>性别</label>
                        <select name="gender" class="form-control">
                            {% for item in gender %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>余额</label>
                        <input type="text" placeholder="余额" name="account" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>入职时间</label>
                        <input type="text" placeholder="入职时间" name="c_time" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>部门</label>

                        <select name="depart" class="form-control">
                            {% for item in depart %}
                                <option value="{{ item.id }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
